@if (Request.IsAuthenticated)
{
    <div class="header_user_info">
			<a class="login" href="@Url.Action("CerrarSesion","Cuenta")" rel="nofollow" title="Entrar a tu cuenta de cliente">
			Cerrar Sesion
		</a>
	</div>
    <div id="contact-link">
    <div class="btn-group">
        
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   Mi Cuenta
     <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" style="background-color: #777777">
    <li><a href="#">Mi Cuenta</a></li>
    <li><a href="@Url.Action("MisPedidos","Cuenta")">Mis Pedidos</a></li>
    <li><a href="@Url.Action("SeguimientoPedidoC","Cuenta")">Seguimiento</a><</li>
    <!--<li role="separator" class="divider"></li>
    <li><a href="#">Mis Pagos</a></li>-->
  </ul>
</div>
        </div>
} else{
<div class="header_user_info">
			<a class="login" href="@Url.Action("Logueo","Cuenta")" rel="nofollow" title="Entrar a tu cuenta de cliente">
			Iniciar Sesion
		</a>
	</div>

<div id="contact-link">
	<a href="#s" title="Contacte con nosotros">Contacte con nosotros</a>
</div>
}